.page-header{
	margin-top: 0;
}
.panel-body{
	padding-top: 0;
}

footer{
    padding: 1em;
    color: white;
    background:rgb(28,28,28);
    clear: left;
    text-align: center;
}
.border{
	margin:0;
	padding: 0;
	width: 100%;
	height:70px;
	background-color: black;
}
.img{
	width:90px;
	height: 90px;
	margin-left: 20px;

}
.navbar{
	margin-bottom: 0;
}

.dropdown-menu >li> a:hover{
background-color: blue;
}



.ex1 {
    background-color: powderblue;
    width: 300px;
    height: 485px;
    overflow: auto;
	margin: -15px;
}
.container1 {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 560px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
p {
font-size:18px;
}

button{
background-color: #4CAF50;
    border: none;
    color: white;
	height:35px;
	width:250px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}