.page-header{
	margin-top: 0;
}
.panel-body{
	padding-top: 0;
}

footer{
    padding: 1em;
    color: white;
    background:rgb(28,28,28);
    clear: left;
    text-align: center;
}

footer ul a{
	margin: 10px;
	color: white;
}

.border{
	margin:0;
	padding: 0;
	width: 100%;
	height:70px;
	background-color: black;
}
.img{
	width:90px;
	height: 90px;
	margin-left: 20px;

}
.navbar{
	margin-bottom: 0;
}

.dropdown-menu >li> a:hover{
background-color: black;
}
.name{
	height:100px;
	background-color: #0099ff;
	border:1px solid black;
}
.name h1{
	text-align: center;
	font-family: Monotype Corsiva;
	font-size: 40px;
	color: black;
	
}
.outer{
	background-color: #fff;
	width:100%;
	height:2000px;
	
}
.inner1{
	padding-left:50px;
    padding-right:30PX;
	padding-top:60px;
	width: 800px;
	height:auto;
	float: left;
	text-align: justify;


}
.inner2{
    padding-left:30px;
    padding-right:30PX;
    float: right;
    width: 490px;
    height:1950px;
    padding-top:40px;
    


}
.inner1 h3{
	
	color:black;

}
.box{
	
	width:100%;
	height:auto;	
}
.boxinner{
	
	width:600px;
	height:auto;
	padding-left: 40px;
	
	
}
.boxinner h3{
	padding-left: 30px;
	padding-top: 30px;
}
.para{
	margin-left: 40px;
}
.comment{
	margin-left: 40px;
	height: 100px;
	width:350px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
}
.text{
	margin-left: 40px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	height: 40px;
	width:350px;
}
.button{
	margin-left: 40px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	width:350px;
	height: 40px;
	background-color: #0099ff;
	color: black;
	
}
.button:hover{
	background-color:black;
	color: #0099ff;

}
